---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

.author__avatar img {
  border-radius: 0%;
  filter: none;
  opacity: 1;
  transition: none;
}

.author__avatar:hover img {
  filter: none;
  opacity: 1;
}

.sidebar {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

html {
  font-size: 15px;

  @include breakpoint($small) {
    font-size: 15px;
  }

  @include breakpoint($medium) {
    font-size: 16px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

.page {
  width: 100%;
  padding-right: 0;
  
  @include breakpoint($large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width-narrow;
  }
  
  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}

.page__inner-wrap {
  max-width: 100%;
}

.page__content {
  max-width: 1200px;
  margin: 0 auto;
}