---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

.author__avatar img {
  border-radius: 0%;
  filter: none;
  opacity: 1;
  transition: none;
}

.author__avatar:hover img {
  filter: none;
  opacity: 1;
}

.sidebar {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

.page {
  width: calc(100% - #{$right-sidebar-width-narrow});
}